#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

#define FN1 1

/ {
    keymap {
        compatible = "zmk,keymap";

        base_layer {
            // Base layer
		// ------------------------------------------------------------------------------------------
		// | ESC |  1  |  2  |  3  |  4  |  5  |  6  |  7  |  8  |  9  |  0  |  -  |  =  |   BKSP   |
		// |  TAB |  Q  |  W  |  E  |  R  |  T  |  Y  |  U  |  I  |  O  |  P  |  [  |  ]  |   "|"   |
		// | CAPS  |  A  |  S  |  D  |  F  |  G  |  H  |  J  |  K  |  L  |  ;  |  '  |none| ENTER   |
		// | SHIFT |none| Z |  X  |  C  |  V  |  B  |  N  |  M  |  ,  |  .  |  /  |    Shift   | FN |
		// |  LCTL  |  LALT  |  LWIN  | SPACE  | SPACE |    SPACE   |  RALT |  FN  |  RGUI  | RCTRL |
		// | Rotary | (<-- Rotary switch) ----------------------------------------------------------- 
	bindings = <
	&gresc		 &kp NUM_1 	&kp NUM_2	&kp NUM_3 	&kp NUM_4 &kp NUM_5 &kp NUM_6 	&kp NUM_7 	&kp NUM_8 &kp NUM_9	&kp NUM_0	&kp MINUS	&kp EQL  	&none	&kp BKSP
	&kp TAB		 &kp   Q   	&kp   W   	&kp   E   	&kp   R   &kp   T   &kp   Y   	&kp   U   	&kp   I   &kp   O   &kp   P   	&kp LBKT 	&kp RBKT	&kp BSLH
	&kp CLCK 	 &kp   A   	&kp   S   	&kp   D   	&kp   F   &kp   G   &kp   H   	&kp   J   	&kp   K   &kp   L   &kp  SCLN  	&kp  QUOT   &none		&kp RET
	&kp LSFT 	 &none		&kp   Z   	&kp   X   	&kp   C   &kp   V   &kp   B   	&kp   N   	&kp   M   &kp  CMMA &kp  DOT  	&kp  FSLH	&kp RSFT 	&mo FN1
	&kp LCTL 	 &kp LALT   &kp   LGUI				&kp SPC			&kp SPC			&kp  SPC  			  &kp  SPC &kp FN1 	&mo RGUI	&kp RCTL		
	&kp C_PP
			>;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        fn_layer {
            // Function layer
	    // Function layer
	    // ------------------------------------------------------------------------------------------
	    // |  V+  |  F1 |  F2 |  F3 |  F4 |  F5 |  F6 |  F7 |  F8 |  F9 | F10 | F11 | F12 |INS | DEL|
	    // |  V-  |BTPRV|  UP |BTNXT|TRNS |TRNS |TRNS | TRNS| MB1 | TRNS | MB2 | TRNS | TRNS | TRNS|
            // | BT0  |LEFT |DOWN |RIGHT|TRNS |TRNS |TRNS | TRNS| TRNS |TRNS| TRNS |TRNS | TRNS | BTClear  |
            // | Bri+ |TRNS|TRNS|TRNS|TRNS | TRNS| TRNS | TRNS |  TRNS| TRNS | TRNS| TRNS |   TRNS   |TRNS|
            // |  Bri- | TRNS | TRNS |      TRNS      | TRNS |     TRNS     |  TRNS |  TRNS | TRNS | BTClearALL |
            // | Rotary | (<-- Rotary switch) ----------------------------------------------------------- 

            bindings = <
&kp C_VOL_UP  &kp F1    &kp F2           &kp F3           &kp F4           &kp F5           &kp F6           &kp F7           &kp F8           &kp F9          &kp F10   &kp F11  &kp F12  &trans      &kp DEL
&kp C_VOL_DN  &bt BT_PRV    &kp UP       &bt BT_NXT       &trans           &trans           &trans           &trans           &trans           &trans          &trans    &trans   &trans   &trans
&bt BT_SEL 0  &kp LEFT  &kp DOWN         &kp RIGHT        &trans           &trans           &trans           &trans           &trans           &trans          &trans    &trans   &trans   &bt BT_CLR
&kp C_BRI_UP  &trans    &rgb_ug RGB_TOG  &rgb_ug RGB_BRI  &rgb_ug RGB_EFR  &rgb_ug RGB_HUD  &rgb_ug RGB_HUI  &rgb_ug RGB_SAD  &rgb_ug RGB_SAI  &trans          &trans    &trans   &trans   &sys_reset
&kp C_BRI_DN  &trans    &trans           &trans           &rgb_ug RGB_TOG  &trans           &trans           &trans           &trans           &bt BT_CLR_ALL
&kp C_PP
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
